---
import { getCollection } from "astro:content";
import PageLayout from "@/layouts/Base";

export const prerender = false

const meta = {
	title: "photography",
	description: "i take the photos,,",
};

const pb = import.meta.env.PUBLIC_PB_URL
const d = await fetch(`${pb}/api/collections/photos/records`)
const dd = await d.json()

const photos = dd['items'].map(i => (
        {
			id: i['id'],
            title: i['title'],
            location: i['location'],
            camera: i['camera'],
            filename: i['image'],

			img: `${pb}/api/files/photos/${i['id']}/${i['image']}`
        }
))
---

<PageLayout meta={meta}>
	<h1 class="title">photos!</h1>
	<p class="mb-6">if you want any of these as prints, chuck me an email and i'll see what i can do!</p>
	<div class="">
			<!--</ul>-->
			<table class="table-fixed">
				{
					photos.map(photo => (
						<tr class="py-3">
							<td class="pr-3">
								<img alt={photo.title} src={photo.img} style=""/>
							</td>
							<td class="align-super text-left">
								<b>{photo.title}</b>
								<p class="pt-2">📌 {photo.location}</p>
								<p class="align-baseline">📷 {photo.camera}</p>
							</td>
						</tr>
					))
				}
			</table>
	</div>
</PageLayout>