---
import { getCollection } from "astro:content";
import PageLayout from "@/layouts/Base";

const software = await getCollection("software");

const meta = {
	title: "software",
	description: "i make the software!",
};
---

<PageLayout meta={meta}>
	<div class="">
		<table class="table-fixed space-y-5">
			{
				software.map(sw => (
					<tr>
					<td class="pr-5">
						<img width="130" class="rounded-3xl" src={sw.data.iconSrc}/>
					</td>
					<td>
						<p class="title">{sw.data.name}</p>

						<div class="flex space-x-2">
							{
							sw.data.platforms.map(pt => (
								<p class="bg-[--theme-accent] px-1 py-0.5 rounded-md text-white">
									{pt}
								</p>
							))
							}
							{/* {
							sw.data.langs?.map(lang => (
								<p class={`bg-[#${lang.colour}] px-1 py-0.5 rounded-md text-white`}>
									{lang.name}
								</p>
							))
							} */}
						</div>

						<p>{sw.data.desc}</p>

						<div class="flex space-x-2">
							<a class="hover:underline text-[--theme-link]" href={sw.data.get}>get</a>
							
							{
								sw.data.links?.map(lnk => (
									<p> |</p>
									<a class="hover:underline text-[--theme-link]" href={lnk.url}>{lnk.title}</a>
								))
							}

						</div>
					</td>
					</tr>
				))
			}
		</table>
	</div>
</PageLayout>