---
import PageLayout from "@/layouts/Base";
import Pocketbase from "pocketbase";

const pb = new Pocketbase(import.meta.env.PUBLIC_PB_URL)

const software = await pb.collection('software').getFullList()

const meta = {
	title: "software",
	description: "i make the software!",
};
---

<PageLayout meta={meta}>
	<div class="">
		<ul>
			{
				software.map(sw => (
					<div class="max-w-md mx-auto overflow-hidden md:max-w-2xl md:mb-5">
						<div class="md:flex">
							<div class="md:shrink-0">
								<img class="rounded-2xl object-cover md:h-28 md:w-28" src={ pb.files.getUrl(sw, sw.icon) } alt={`Icon for ${sw.name}`}>
							</div>
							<div class="md:pl-8 py-8 md:py-0">
								<div class="title font-semibold">{sw.name}</div>
								<p class="mt-2">{sw.description}</p>
								<div class="flex space-x-2 items-center">
									{
										sw.platforms.map(pt => (
										<p class="bg-[--theme-accent] px-1 py-0.5 my-1 rounded-md text-white">
											{pt}
										</p>
										))
									}
									
									<a class="hover:underline text-[--theme-link] pl-1" href={sw.getLink}>get</a>
									
									<div class={sw.privacyPolicy === '' ? 'hidden' : ''}>
										|
										<a class="hover:underline text-[--theme-link]" href={ `/software/${encodeURIComponent(sw.name)}/privacy` }>privacy</a>
									</div>
								</div>
								
							</div>
						</div>
					</div>
				))
			}
		</ul>
		
		</div>

		<!-- <table class="table-fixed space-y-10 border-separate border-spacing-y-4">
			{
				software.map(sw => (
					<tr>
					<td class="pr-5">
						<img width="130" class="rounded-3xl" src={ pb.files.getUrl(sw, sw.icon)}/>
					</td>
					<td>
						<p class="title">{sw.name}</p>

						<div class="flex space-x-2">
							{
							sw.platforms.map(pt => (
								<p class="bg-[--theme-accent] px-1 py-0.5 my-1 rounded-md text-white">
									{pt}
								</p>
							))
							}
							{/* {
							sw.data.langs?.map(lang => (
								<p class={`bg-[#${lang.colour}] px-1 py-0.5 rounded-md text-white`}>
									{lang.name}
								</p>
							))
							} */}
						</div>

						<p>{sw.description}</p>

						<div class="flex space-x-2">
							<a class="hover:underline text-[--theme-link]" href={sw.getLink}>get</a>
							
							<div class={sw.privacyPolicy === '' ? 'hidden' : ''}>
								|
								<a class="hover:underline text-[--theme-link]" href={ `/software/${encodeURIComponent(sw.name)}/privacy` }>privacy</a>
							</div>

						</div>
					</td>
					</tr>
				))
			}
		</table> -->
</PageLayout>